<style>
  .user-message {
    color: red;
    text-align: center;
    padding: 0 auto;
    margin: 12px 20px 12px 0;
  }
</style>

<div class="heading-page">
  <div class="container">
    <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
      <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a itemprop="item" href="/"><span itemprop="name">Trang chủ</span></a>
        <span itemprop="position" content="1"></span>
      </li>
      <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a itemprop="item" href="/auth/login"><span itemprop="name">Đăng nhập</span></a>
        <span itemprop="position" content="2"></span>
      </li>
    </ol>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="col-sm-12">
      <div class="row mainpage-wrapper">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="card">

                <div class="card-header">
                  <h4>Đăng nhập tài khoản</h4>
                </div>
                <div class="card-body">
                  {{#if errorMessage}}
                  <!-- Reminder: Using BEM methodology for class naming https://css-tricks.com/bem-101/ -->
                  <div class="user-message user-message--error">{{errorMessage}}</div>
                  {{/if}}
                  <form method="POST" action="/auth/login" aria-label="Đăng nhập">
                    <div class="form-group row">
                      <label for="email" class="col-sm-4 col-form-label text-md-right">Email</label>
                      <div class="col-md-6">
                        <input id="email" type="email" class="form-control" name="email" required autofocus
                          placeholder="example@gmail.com">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="password" class="col-md-4 col-form-label text-md-right">Mật khẩu</label>
                      <div class="col-md-6">
                        <input id="password" type="password" class="form-control" name="password" required
                          placeholder="Mật khẩu">
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-6 offset-md-4">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="remember"> Ghi nhớ?
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row mb-0">
                      <div class="col-md-8 offset-md-4">
                        {{!-- <input type="hidden" name="_csrf" value="{{csrfToken}}"> --}}
                        <button type="submit" class="btn btn-primary">Đăng nhập</button>
                        <a class="btn btn-link" href="/auth/reset-password">Quên mật khẩu?</a>
                      </div>
                    </div>
                  </form>
                  <br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>