<style>
  .user-message {
    color: red;
    padding: 0 auto;
  }
</style>
<div class="heading-page">
  <div class="container">
    <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
      <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a itemprop="item" href="/"><span itemprop="name">Trang chủ</span></a>
        <span itemprop="position" content="1"></span>
      </li>
      <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a itemprop="item" href="/auth/register"><span itemprop="name">Đăng ký</span></a>
        <span itemprop="position" content="2"></span>
      </li>
    </ol>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="col-sm-12">
      <div class="row mainpage-wrapper">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header">
                  <h4>Đăng ký tài khoản</h4>
                </div>

                <div class="card-body">
                  {{#if errorMessage}}
                  <div class="user-message user-message--error">
                    {{errorMessage}}
                  </div>
                  {{/if}}
                  <form method="POST" action="/auth/register" aria-label="Đăng ký tài khoản">

                    <div class="form-group row">
                      <label for="email" class="col-md-4 col-form-label text-md-right">Email</label>
                      <div class="col-md-6">
                        <input id="email" type="text"
                          class="{{#if (lookup validationErrors 'email')}} invalid{{/if}} form-control" name="email"
                          required autofocus placeholder="example@gmail.com">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="password" class="col-md-4 col-form-label text-md-right">Mật khẩu</label>
                      <div class="col-md-6">
                        <input id="password" type="password" class="form-control class=" {{#if (lookup
                          validationErrors 'password' )}} invalid{{/if}} name="password" required autofocus
                          placeholder="Nhập mật khẩu" value="{{oldInput.password}}">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="confirmPassword" class="col-md-4 col-form-label text-md-right">Xác nhận mật
                        khẩu</label>
                      <div class="col-md-6">
                        <input id="confirmPassword" type="password" class="form-control 
                          {{#if (lookup validationErrors 'confirmPassword')}} 
                          invalid{{/if}}" name="confirmPassword" required placeholder="Xác nhận mật khẩu"
                          value="{{oldInput.confirmPassword}}">
                      </div>
                    </div>

                    <div class="form-group row mb-0">
                      <div class="col-md-6 offset-md-4">
                        {{!-- <input type="hidden" name="_csrf" value="{{csrfToken}}"> --}}
                        <button type="submit" class="btn btn-primary">Đăng ký tài khoản</button>
                      </div>
                    </div>
                  </form>
                  <br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>