<style>
    .button-btn {
        margin: 20px;
        border-color: red;
    }

    .centered {
        margin: 0 auto;
        color: red;
    }

    .input-css {
        width: 50%;
        margin: 20px;
        text-align: center;
    }
</style>
<div class="heading-page">
    <div class="container">
        <ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
            <li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="/"><span itemprop="name">Trang chủ</span></a>
                <span itemprop="position" content="1"></span>
            </li>
            <li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="/auth/forget"><span itemprop="name">Quên mật khẩu</span></a>
                <span itemprop="position" content="2"></span>
            </li>
        </ol>
    </div>
</div>
{{#if errorMessage}}
<!-- Reminder: Using BEM methodology for class naming https://css-tricks.com/bem-101/ -->
<div class="user-message user-message--error">{{errorMessage}}</div>
{{/if}}
<div class="section">
    <div class="container">
        <div class="col-sm-12">
            <div class="row mainpage-wrapper">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <div class="card">
                                <br>
                                <p class="centered">Hướng dẫn đặt lại mật khẩu sẽ được gửi tới email bạn cung cấp.</p>
                                <form class="login-form" action="/reset-password" method="POST">
                                    <div class="form-control">
                                        <label for="email">Email</label>
                                        <input class="input-css" type="email" name="email" id="email">
                                    </div>
                                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                                    <button class="btn button-btn" type="submit">Đặt lại mật khẩu</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>