<div class="mt-4">
    <img width="50px" class="qr-img" src="https://cdn.britannica.com/17/155017-050-9AC96FC8/Example-QR-code.jpg" alt="QR chuyển tiền">
    <p>STK:00005457339 TP Bank</p>
    <p>Số tiền: {{course.price}}</p>
    <p>Nội dung chuyển tiền:</p>
</div>