{{!-- <style>
  .product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
  }

  .product-item {
    width: 20rem;
    max-width: 95%;
    margin: 1rem;
  }

  .product__title {
    font-size: 1.2rem;
    text-align: center;
  }

  .product__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
  }

  .product__description {
    text-align: center;
  }
</style> --}}

{{!-- handle create --}}
<div class="mt-4 justify-content-center">
  <h3>Đăng sản phẩm</h3>
  <form class="product-form" method="post" action="/products/store" enctype="application/json">
    <div class="form-group">
      <label for="title">Tiêu đề</label>
      <input type="text" class="form-control" name="title">
    </div>
    <div class="form-group">
      <label for="price">Giá sản phẩm</label>
      <input type="text" class="form-control" name="price" step="1">
      {{!-- <select class="custom-select ml-auto" id="inputGroupSelect01" name="price">
        <option selected>Tiền tệ</option>
        <option value="1">Đồng</option>
      </select> --}}
    </div>
    <div class="form-group">
      <label for="description">Mô tả</label>
      <textarea type="description" class="form-control" name="description" rows="5">
      </textarea>
    </div>
    <div class="form-control file-picker">
      <label for="image">Ảnh</label>
      <input type="file" name="image" id="image">
    </div>
    <div class="form-group">
      <label for="videoId">Video ID</label>
      <input type="text" class="form-control" id="videoId" name="imageUrl">
    </div>
</div>
<div>
  <button class="product-form" type="submit" class="btn">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    Thêm sản phẩm
  </button>
</div>

</form>
</div>