
<div class="jumbotron jumbotron-fluid">
  <div class="alert alert-danger">
    <h1 class="display-4">Welcome to the page to learn together</h1>
    <p class="lead">THÔNG TIN LIÊN HỆ</p>
    <p class="lead">Địa chỉ: Thành Phố Hồ Chí Minh</p>
    <p class="lead">Hotline: 0393216751</p>
    <p class="lead">Email: truongvingn@gmail.com</p>
  </div>
</div>