<style>
  .user-avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 4px;
    border-color: #252b36;
  }
</style>

<nav class="bg-white navbar navbar-expand-lg navbar-light bg-light py-lg-1">
  <div class="container">
    <a class="navbar-brand" href="/">Logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <ul class="mb-2 mb-lg-0 ms-auto navbar-nav">
          <li class="nav-item">
            <a class="nav-link px-lg-3 py-lg-4" aria-current="page" href="#">Trang chủ</a>
          </li>
          {{#if isAuthenticated}}
          {{!-- <li class="nav-item">
            <a class="nav-link px-lg-3 py-lg-4" href="#">Tính năng</a>
          </li> --}}
          <li class="nav-item">
            <a class="nav-link px-lg-3 py-lg-4" href="/products/cart">Giỏ hàng</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-lg-3 py-lg-4" href="#">Liên hệ</a>
          </li>
          {{/if}}
        </ul>
      </ul>


      {{#if isAuthenticated}}
      <ul class="mb-2 mb-lg-0 ms-auto navbar-nav">
        <li class="nav-item dropdown mr-auto">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            <img src="{{this.avatar}}" width="80px" alt="" class="user-avatar">
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/products/create">Đăng sản phẩm</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/me/stored/courses">Quản lý sản phẩm</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/news">Tin tức</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/auth/logout">Đăng xuất</a>
          </div>
        </li>
      </ul>
      {{else}}
      <div class="ml-auto">
        <span class="pull-right user-header" style="padding-top: 15px">
          <a href="/auth/register" class="btn btn-third">
            <i class="icon ion-android-person"></i>
            Đăng ký
          </a>
          <a href="/auth/login" class="btn btn-second">
            <i class="fa ion ion-android-unlock"></i>
            Đăng nhập
          </a>
        </span>
      </div>
      {{/if}}
    </div>
  </div>
</nav>