<section>
  <nav class="bg-white navbar navbar-expand-lg navbar-light pg-lib-item py-lg-1" data-navbar-id="{bs-navbar}">
    <div class="container">
      <a class="fw-bold navbar-brand fs-4" href="/">
        <span>Your Logo</span>
      </a>
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{bs-navbar}"
        aria-controls="{bs-navbar}" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="{bs-navbar}">
        <ul class="mb-2 mb-lg-0 ms-auto navbar-nav">
          <li class="nav-item">
            <a class="nav-link px-lg-3 py-lg-4" aria-current="page" href="#">Trang chủ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-lg-3 py-lg-4" href="#">Thông tin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-lg-3 py-lg-4" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-lg-3 py-lg-4" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-lg-3 py-lg-4" href="#">Contact</a>
          </li>
        </ul>
        {{#if user}}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <img src="https://th.bing.com/th/id/OIP.l3pyHp3P_Ytr0yMHMsWZtwHaHa?rs=1&pid=ImgDetMain" width="80px"
                  alt="" class="user-avatar">
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/products/create">Đăng sản phẩm</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/me/stored/courses">Quản lý sản phẩm</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/news">Tin tức</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/logout">Đăng xuất</a>
              </div>
            </li>
          </ul>
        </div>
        {{else}}
        <div class="ml-auto">
          <span class="pull-right user-header" style="padding-top: 15px">
            <a href="/auth/register" class="btn btn-third">
              <i class="icon ion-android-person"></i>
              Đăng ký
            </a>
            <a href="/auth/login" class="btn btn-second" style="background: #004b7f;border-color: #004b7f;">
              <i class="fa ion ion-android-unlock"></i>
              Đăng nhập
            </a>
          </span>
        </div>
        {{/if}}
      </div>
    </div>
  </nav>
</section>